@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&family=Roboto:wght@400;500&display=swap');

:root {
	--offwhite: #dce3e2;
	--offgray: #888888;
	--pureblack: #000000;
	--textcolor: #4f4b4b;
	--cement: #2e2926;
}

body {
	background-color: var(--pureblack);
	font-family: 'Roboto', sans-serif;
	margin: 0;
	padding: 0;
	font-size: 16px;
	/* background-image: url("../images/2.jpg");
	background-repeat: no-repeat; */
	/* background-size: cover; */
}

.container {
	width: 80vw;
	max-width: 1400px;
	margin: auto;
}

.container .logo a{
	text-decoration: none;
}
.logo {
	font-family: 'Montserrat', sans-serif;
	padding: 20px;
}
.logo h1{
	color: var(--offwhite);
	font-size: 2.2rem;
	text-align: center;
}
.logo h1:hover {
	transform: scale(1.2);
	transition: ease 1s;
	color: orangered;
}

.navigation {
	margin-top: 1.5rem;
	text-align: center;
}
.navigation a{
	color: var(--offwhite);
	display: inline-block;
	text-decoration: none;
	padding: 0px 20px;
}
.navigation a:hover {
	color: orangered;
	transition: color 1s;
}
.navigation .active {
	color: palegreen;
}

.container .footer {
	width: 100%;
	float: left;
	word-spacing: 2rem;
}
.container .footer a {
	text-decoration: none;
	color: var(--offwhite);
}
.container .footer a:hover {
	color: orangered;
	transition: color 1s;
} 

